<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Concertrip</title>
  </head>
  <body>
    <main id="main_container" role="main"></main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </body>
</html>
